.container-projects{
    text-align: center;
    padding: 4.5rem 7.5rem 9rem 7.5rem;

    & p{
        font: var(--subtitle);
        color: var(--brand-color-red);
        text-align: center;
    }

    & h2{
        text-align: center;
        margin-bottom: 3.5rem;
    }

    .content-cards{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.75rem; 
        justify-content: center;        
        .card{
            width: 20.625rem; 
            height: 17.5rem;

            border-radius: 0.75rem;

            padding: 0.75rem;

            background-color: var(--brand-base-gray-300);

            & img{
                width: 100%;
            }

            & h3{
                text-align: left;
                font: var(--title-sm);
            }

            & p{
                text-align: left;
                color: var(--brand-base-gray-500);
                font: var(--text-sm);
            }
        }
    }



}