.container-contacts{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 7.5rem 7.5rem 12.5rem 7.5rem;
    background-image: url(/assets/images/Background_Contacts.png);
    background: cover;
    background-size: cover;


    text-align: center;
    p:nth-child(1){
        font: var(--subtitle);
        color: var(--brand-color-purple);
        margin-bottom: .5rem;
    }

    p{
        font: var(--text-md);
        color: var(--brand-base-gray-500);
        margin-bottom: 3rem;
    }

    h2{
        font: var(--title-md);
        margin-bottom: .5rem;
    }

    ul{
        display: flex;
        align-items: center;
        
        flex-direction: column;
        gap: 1rem;

        
        #linkedin, #instagram, #github, #email{
            fill: var(--brand-base-gray-400);
            transition: all .2s ease-in;
            border: 1.5px solid var(--brand-base-gray-300);

        }

        #linkedin:hover, #instagram:hover, #github:hover, #email:hover{
            fill: #3996DB;
            border-radius: 8px;
            border: 1.5px solid var(--Main-Blue, #3996DB);
        }

        li{
            width: 400px;
            background-color: var(--brand-base-gray-300);
            list-style: none;
            
            font: var(--text-md);
            
            border-radius: 8px;
            
            a{            
                padding: 1.25rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                justify-content: center;
                gap: 1rem;                
                color: var(--brand-base-gray-500);
                text-decoration: none;

                span{
                    flex: 1;
                    text-align: left;
                }
            }
                
        }


    }



}


:nth-child(1) {
    animation-delay: 0s;
}
:nth-child(2) {
    animation-delay: 0.1s;
}
:nth-child(3) {
    animation-delay: 0.2s;
}
:nth-child(4) {
    animation-delay: 0.3s;
}
:nth-child(5) {
    animation-delay: 0.4s;
}